@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&family=Inter:wght@100..900&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier Prime", monospace;
}

body {
    margin: 0;
    padding: 0;

    height: 100vh;
    background-image: linear-gradient(10deg, #90E1C0 -180%, #84CEB2 -100%, #0F172A 40%);
    background-size: 100%; 
    background-repeat: no-repeat;
}

header{
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

header a {
    text-decoration: none;
    color: #FFFF;
    font-size: 30px;
    font-weight: 900;
}

.menu{
    list-style: none;
}

.menu li a{
    font-size: 20px;
    color: #CDCDCD;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* css login*/
.login-container {
    background-color: #0F172A;
    width: 60vh;
    height: 70vh;
    border: #08FFB3 solid 2px;
    border-radius: 10px;
    display: block;
    text-align: center;
    padding: 2%;
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}

.login-container h1 {
    color: #FFFFFF;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: #FFFFFF;
    margin-bottom: 5px;
    text-align: left;
    font-size: 20px;
}

.form-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #5B3FD6;
    border-radius: 4px;
    background-color: #2D3748;
    color: #FFFFFF;
}

.form-group input:focus {
    outline: none;
    border-color: #5B3FD6;
}

.login-button {
    background-color: #0F172A;
    margin-top: 10px;
    width: 250px;
    height: 50px;
    border: #5B3FD6 solid 2px;
    border-radius: 8px;
    color: #FFFF;
    font-size: 7px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #5B3FD6;
}

.no-account {
    color: #FFFFFF;
    margin-top: 6px;
    font-size: 17px;
    margin-bottom: 8px;
    font-weight: 100;
}

.register-button {
    background-color: #0F172A;
    border: #1fb588 solid 2px;
    border-radius: 4px;
    color: #FFFF;
    cursor: pointer;
    font-size: 20px;
    width: 250px;
    height: 40px;

    margin-top: 15px;
}

.register-button:hover {
    background-color: #06D8A7;
}

h2 {
    color: #FFFF;
    margin-bottom: 50px;
    font-size: 35px;
}

.register-button a {
    text-decoration: none;
    color: #FFFF;
    font-size: 20px;
    font-weight: 900;
}
.login-button a {
    text-decoration: none;
    color: #FFFF;
    font-size: 27px;
    font-weight: 900;
    text-align: center;
}

@media (max-width: 700px) {
    .menu{
        list-style: none;
    }

    .menu li a{
        font-size: 20px;
        color: #CDCDCD;
        text-decoration: none;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .login-container {
        height: 550px;
        width: 400px;
        background-color: #0F172A;
        border: #08FFB3 solid 2px;
        border-radius: 10px;
        display: block;
        text-align: center;
        padding: 2%;
    }

    .login-container h1 {
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 15px;
        margin-top: 27px; 
    }

    .form-group label {
        color: #FFFFFF;
        margin-bottom: 5px;
        text-align: left;
        font-size: 20px;
    }

    .form-group input {
        width: 100%;
        padding: 15px;
        border: 1px solid #5B3FD6;
        border-radius: 4px;
        background-color: #2D3748;
        color: #FFFFFF;
    }

    .form-group input:focus {
        outline: none;
        border-color: #5B3FD6;
    }

    .login-button {
        background-color: #0F172A;
        margin-top: 10px;
        width: 250px;
        height: 50px;
        border: #5B3FD6 solid 2px;
        border-radius: 8px;
        color: #FFFF;
        font-size: 7px;
        cursor: pointer;
    }

    .login-button:hover {
        background-color: #5B3FD6;
    }

    .no-account {
        color: #FFFFFF;
        margin-top: 6px;
        font-size: 17px;
        margin-bottom: 8px;
        font-weight: 100;
    }

    .register-button {
        background-color: #0F172A;
        border: #1fb588 solid 2px;
        border-radius: 4px;
        color: #FFFF;
        cursor: pointer;
        font-size: 20px;
        width: 250px;
        height: 40px;
    }

    .register-button:hover {
        background-color: #06D8A7;
    }

    h2 {
        color: #FFFF;
        margin-bottom: 50px;
        font-size: 35px;
    }

    .register-button a {
        text-decoration: none;
        color: #FFFF;
        font-size: 20px;
        font-weight: 900;
    }
    .login-button a {
        text-decoration: none;
        color: #FFFF;
        font-size: 27px;
        font-weight: 900;
        text-align: center;
    }

    @media (max-width: 390px) {
        .login-container {
            height: 550px;
            width: 90%;
            background-color: #0F172A;
            border: #08FFB3 solid 2px;
            border-radius: 10px;
            display: block;
            text-align: center;
            padding: 2%;
            margin-top: 30px;
        }
    }
}